.platos{
    .columna1{
        padding: 0px 100px;
        display: inline-flex;
    div{
        width: 25%;
    }
    img{
        height: 80%;
        width: 85%;
        padding:10px 28px;
    }
    }
    .columna2{
        padding: 0px 100px;
        display: inline-flex;
        div{
            width: 25%;
        }
        img{
            height: 80%;
            width: 85%;
            padding:10px 28px;
        }

    }
}